.form-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .form-label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 360px;
    margin-bottom: 8px;
  }
}
.form-input,
.form-message {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.04em;
}
.form-message {
  height: 80px;
  margin-bottom: 8px;
  resize: none;
}
.form-input:focus,
.form-message:focus {
  outline: none;
}

.form-submit-btn {
  width: 95px;
  height: 40px;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: #4e75ff;
  color: #fff;
  border-color: transparent;
}
.form-submit-btn:hover,
.form-submit-btn:focus {
  background-color: #6c8cff;
}
